*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: #282828;
}

div.shell {
  margin: 10px;
  display: block;
  width: 100vw;
  height: 100vh;
  color: white;
}

input#focus {
  display: none;
}
